
<header>
  <a class="logomarca" href="#inicio">Multimedidor</a>
  <div class="fas fa-bars" id="icone-menu"></div>

  <ul class="barra-de-navegacao">
      <li><a href="#inicio">Início</a></li>
      <li><a href="#medicoes">Medições</a></li>
      <li><a href="#grafico">Gráficos</a></li>

      <li><a href="#consumo">Consumo</a></li>
  </ul>
</header>