
<section class="atual" class="consumo" id="consumo">
    <div class="subtitulo">
        <h1>Consumo</h1>
    </div>
   
    <div class="conteudo">

    <div class="barras-de-medicoes-na">
        <div>
            <br> 
            <p style="font-size: var(--tamanho-p);margin: 1rem 0;">Calcular consumo R$</p>
            <br>
            <div style="display: flex;">
            
                <span style="width:100px;">
                    Data início:&nbsp;
                </span>
                <input type="date" id="datainicio"  style='width: 120px;' name="valor">
            </div>
            <br>
            <div style="display: flex;">
                <span  style="width:100px;">
                    Data fim:&nbsp;
                </span>
                <input type="date" id="datafim"  style='width: 120px;' name="valor">
            </div>
            <br>
            <div style="display: flex;">
                <span  style="width:100px;">
                    Valor:&nbsp;
                </span>
                <input type="text" id="valor"  style='width: 120px;' name="valor">
            </div>

            <div >
                <br>
                <input  onclick="enviarCalculo()" style="width:220px; background-color:var(--cor-primaria); color: white;" type="button" value="Calcular">
            </div>
            <div id="medida_data">
                <div >
                
                        <div class="caixa-de-medicoes">
                        <i class="fa fa-bolt"><h3></h3></i>
                        <div>
                            <span id="potencia-in-media">00</span> 
                        </div>
                        <div class="porcentagem-barra barra-potencia"></div>
                    </div>
            
                    <div >
                        
                        <div class="caixa-de-medicoes">
                        <i class="fa fa-money"><h3></h3></i>
                        <div>
                            <span id="potencia-in-media">00</span> 
                        </div>
                        <div class="porcentagem-barra barra-potencia"></div>
                    </div>
                    </div>
                </div>
            </div>
       </div>
       <div>
            <div class="">
                <div class="texto-medicoes">
                    <p>Listados abaixo as medições armazenadas ao longo do
                        tempo.</p>
                </div>
            
                <div class="caixa-de-medicoes">
                    <i class="fa fa-bolt"><h3>Hoje</h3></i>
                    <div>
                        <span id="corrente-in"><%=data_hoje[0].hoje.replace('.', ',');%> kWh</span> 
                    </div>
                    <div class="porcentagem-barra barra-corrente"></div>
                </div>
                <div class="caixa-de-medicoes">
                    <i class="fa fa-bolt"><h3>Mês</h3></i>
                    <div>
                        <span id="potencia-in"><%=data_mes[0].mes.replace('.', ',');%> kWh</span> 
                    </div>
                    <div class="porcentagem-barra barra-potencia"></div>
                </div>
            
                <div class="caixa-de-medicoes">
                    <i class="fa fa-bolt"><h3>Total</h3></i>
                    <div>
                        <span id="fator-in"><%=data_final[0].tudo.replace('.', ',');%> kWh</span> 
                    </div>
                    <div class="porcentagem-barra barra-fator-de-potencia"></div>
                </div>
            </div>
       </div>
 
    </div>
</section>