<section class="controle" id="controle">
    <div class="subtitulo">
        <h1>Alerta de consumo </h1>
    </div>
    <div class="conteudo">
		<div>
			<br> 
			<p style="font-size: var(--tamanho-p);margin: 1rem 0;">Configurar alerta de consumo mensal. <br>
			Ao chegar no valor estabelecido um alerta é enviado.</p>
			<br>
			<div style="display: flex;">
			
				<span style="width:200px;">
					Consumo mensal kWh:&nbsp;
				</span>
				<input type="text" id="controlevalorKwh" style="width: 120px;" name="controlevalorKwh">
			</div>
			<br>
		
			<div style="display: flex;">
				<span style="width:200px;">
					Telefone:&nbsp;
				</span>
				<input type="tel" id="phoneControle" style="width: 150px;" name="phoneControle">
			</div>
			
			<br>
			<div style="display: flex;">
				<span style="width:200px;">
					Email:&nbsp;
				</span>
				<input type="email" id="emailControle" style="width: 200px;" name="emailControle">
			</div>
			<br>
			
			<div>
				<br>
				<input onclick="enviarValorControle()" style="width:400px; background-color:var(--cor-primaria); color: white;" type="button" value="Configurar controle">
			</div>
		  
		</div>

    </div>
</section>