<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">

var rows = <%-JSON.stringify(dado)%>;
var tipoGrafico = document.querySelector('input[name="tipo_grafico"]:checked').value;
  
// Use a variável tipoGrafico para decidir qual gráfico gerar
if (tipoGrafico === 'consumo') {
	google.charts.load('current', {'packages':['corechart'], 'language': 'pt'});
	google.charts.setOnLoadCallback(drawChartConsumo);
} else if (tipoGrafico === 'qualidade') {
	google.charts.load('current', {'packages':['corechart'], 'language': 'pt'});
	google.charts.setOnLoadCallback(drawChartQualidade);
}

function drawChartQualidade() {
  var datad = [];
  var Headerd = ['Dia', 'Tensão Media', 'Linha Y=201', 'Linha Y=231'];
  console.log(rows);

  // Se rows.length for igual a zero, crie uma tabela vazia
  if (rows.length === 0) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Dia');
    data.addColumn('number', 'Tensão Media');
  } else {
    // Preencha os dados na tabela
    datad.push(Headerd);
    for (var i = 0; i < rows.length - 1; i++) {
      var temp = [];
      var dia = rows[i].dia.split("@");
      temp.push(dia[0]);
      temp.push(Number(rows[i].tensao));
      temp.push(201); // Adicionar valor para linha Y=201
      temp.push(231); // Adicionar valor para linha Y=231
      datad.push(temp);
    }
    var data = google.visualization.arrayToDataTable(datad);
  }

  // Crie o gráfico com a tabela de dados
  var options = {
    title: 'Qualidade da energia',
    hAxis: { title: 'Dia', titleTextStyle: { color: '#333' } },
    vAxis: { minValue: 100 },
    responsive: true,
    series: {
      0: { type: 'column' },
      1: {
        type: 'line',
        color: 'red',
        lineWidth: 1,
        lineDashStyle: [5, 5], // Estilo de linha tracejada
        visibleInLegend: true
      },
      2: {
        type: 'line',
        color: 'blue',
        lineWidth: 1,
        lineDashStyle: [5, 5], // Estilo de linha tracejada
        visibleInLegend: true
      }
    }
  };

  var formatter = new google.visualization.NumberFormat({
    decimalSymbol: ',',
    groupingSymbol: '.',
  });

  formatter.format(data, 1);

  var chart = new google.visualization.ComboChart(
    document.getElementById('chart_div')
  );
  chart.draw(data, options);
}




function drawChartConsumo() {
  var datad = [];
  var Headerd = ['Dia', 'kWh'];
  // Se rows.length for igual a zero, crie uma tabela vazia
  if (rows.length === 0) {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Dia');
    data.addColumn('number', 'kWh');
  } else {
    // Preencha os dados na tabela
    datad.push(Headerd);
    for (var i = 0; i < rows.length -1; i++) {
      var temp = [];
      var dia = rows[i].dia.split("@");
      temp.push(dia[0]);
	  temp.push(Math.max((rows[i+1].energia) - (rows[i].energia), 0));
      datad.push(temp);
    }
    var data = google.visualization.arrayToDataTable(datad);
  }
  
  // Crie o gráfico com a tabela de dados
  var options = {
    title: 'Consumo Mensal',
    hAxis: {title: 'Dia',  titleTextStyle: {color: '#333'}},
    vAxis: {minValue: 100},
    responsive: true,
  };
  var formatter = new google.visualization.NumberFormat({
    decimalSymbol: ',', groupingSymbol: '.' 
  });

  formatter.format(data, 1);

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
   
  </script>


</head>

<body>
    <div id="chart_div" style="width: 1000px; height: 500px;"></div>
</body>
</html>
