<section class="inicio" id="inicio">
    <div class="texto-inicio">
        <h1>Multimedidor de <span>Tensão</span> e <span>Corrente</span></h1>
        <h2>Atualizações em tempo real</h2>
        <p>Multimedidor é um equipamento eletrônico capaz de realizar diversas medições em um circuito elétrico. Um multimedidor possui a função de medições instantâneas e acumulativas.</p>
    </div>
    <div class="imagem-inicio">
        <img src="/images/image-electrician.png" alt="Cartoon de eletricista realizando reparos">
    </div>
</section>