<!-- Medições -->
<section class="medicoes" id="medicoes">
    <div class="subtitulo">
        <h1>Medições</h1>
    </div>
    <div class="conteudo">
        <div class="barras-de-medicoes">
            <div class="texto-medicoes">
                <p>Listadas abaixo as medições capturadas em tempo real.</p>
            </div>
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Tensão</h3></i>
                <div>
                    <span id="tensao-in">0,0</span> V
                </div>
                <div class="porcentagem-barra barra-potencia"></div>
            </div>
          
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Corrente</h3></i>
                <div>
                    <span id="corrente-in">0,0</span> A
                </div>
                <div class="porcentagem-barra barra-corrente"></div>
            </div>
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Potência</h3></i>
                <div>
                    <span id="potencia-in">0,0</span> W
                </div>
                <div class="porcentagem-barra barra-potencia"></div>
            </div>
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Energia</h3></i>
                <div>
                    <span id="energia-in">0,0</span> kWh
                </div>
                <div class="porcentagem-barra barra-energia"></div>
            </div>
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Frequência</h3></i>
                <div>
                    <span id="frequencia-in">0,0</span> Hz
                </div>
                <div class="porcentagem-barra barra-frequencia"></div>
            </div>
            <div class="caixa-de-medicoes">
                <i class="fa fa-bolt"><h3>Fator de Potência</h3></i>
                <div>
                    <span id="fator-in">0,0</span> kVAr
                </div>
                <div class="porcentagem-barra barra-fator-de-potencia"></div>
            </div>
        </div>
    </div>
</section>