
<div >
           
  <div class="caixa-de-medicoes">
   <i class="fa fa-bolt"><h3></h3></i>
   <div>
       <span id="potencia-in-media"><%=dado[0].base.replace('.', ','); %> kWh</span> 
   </div>
   <div class="porcentagem-barra barra-potencia"></div>
</div>

<div >
  
   <div class="caixa-de-medicoes">
    <i class="fa fa-money"><h3></h3></i>
    <div>
        <span id="potencia-in-media">R$ <%=dado[0].total.replace('.', ','); %></span> 
    </div>
    <div class="porcentagem-barra barra-potencia"></div>
</div>

<div >
  
    <div class="caixa-de-medicoes">
     <i class="fa fa-clock-o"><h3></h3></i>
     <div>
         <span id="potencia-in-media"><%=dado[0].dic.replace('.', ','); %></span> 
     </div>
     <div class="porcentagem-barra barra-potencia"></div>
 </div>

 <div >
  
    <div class="caixa-de-medicoes">
     <i class="fa fa-lock"><h3></h3></i>
     <div>
         <span id="potencia-in-media"><%=dado[0].fic.replace('.', ','); %> Quedas</span> 
     </div>
     <div class="porcentagem-barra barra-potencia"></div>
 </div>

</div>